[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.20.0"
kaggle = "==1.5.12"
autokeras = "==1.0.18"
click = "==7.1.2"
scikit-learn = "==1.0.2"

[dev-packages]

[requires]
python_version = "3.8"
